@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

@theme {
  --color-brand-primary: var(--sys-color-roles-1-primary-roles-primary-color-role);
  --color-brand-on-primary: var(--sys-color-roles-1-primary-roles-on-primary-color-role);
  --color-brand-primary-container: var(--sys-color-roles-1-primary-roles-primary-container-color-role);
  --color-brand-neutral-10: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral10);
  --color-brand-neutral-20: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral20);
  --color-brand-neutral-30: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral30);
  --color-brand-neutral-40: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral40);
  --color-brand-neutral-50: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral50);
  --color-brand-neutral-60: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral60);
  --color-brand-neutral-80: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral80);
  --color-brand-neutral-90: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral90);
  --color-brand-neutral-95: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral95);
  --color-brand-neutral-98: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral98);
  --color-brand-neutral-99: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral99);
  --color-brand-neutral-100: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral100);
  --color-brand-secondary-40: var(--sys-primitive-color-collection-1-color-palettes-secondary-secondary40);
  --color-brand-secondary-50: var(--sys-primitive-color-collection-1-color-palettes-secondary-secondary50);
  --color-brand-success-30: var(--sys-primitive-color-collection-1-color-palettes-success-success30);
  --color-brand-success-40: var(--sys-primitive-color-collection-1-color-palettes-success-success40);
  --color-brand-success-50: var(--sys-primitive-color-collection-1-color-palettes-success-success50);
  --color-brand-success-95: var(--sys-primitive-color-collection-1-color-palettes-success-success95);
  --color-brand-warning-40: var(--sys-primitive-color-collection-1-color-palettes-warning-warning40);
  --color-brand-warning-50: var(--sys-primitive-color-collection-1-color-palettes-warning-warning50);
  --color-brand-warning-95: var(--sys-primitive-color-collection-1-color-palettes-warning-warning95);
  --color-brand-error-50: var(--sys-primitive-color-collection-1-color-palettes-error-error50);
  --color-brand-primary-20: var(--sys-primitive-color-collection-1-color-palettes-primary-primary20);
  --color-brand-primary-30: var(--sys-primitive-color-collection-1-color-palettes-primary-primary30);
  --color-brand-primary-40: var(--sys-primitive-color-collection-1-color-palettes-primary-primary40);
  --color-brand-primary-60: var(--sys-primitive-color-collection-1-color-palettes-primary-primary60);
  --color-brand-primary-80: var(--sys-primitive-color-collection-1-color-palettes-primary-primary80);
  --color-brand-primary-90: var(--sys-primitive-color-collection-1-color-palettes-primary-primary90);
  --color-brand-primary-95: var(--sys-primitive-color-collection-1-color-palettes-primary-primary95);
  --font-brand-display-large: var(--sys-typography-display-display-large-font-family);
  --font-brand-title-large: var(--sys-typography-title-title-large-font-family);
  --font-brand-body-large: var(--sys-typography-body-body-large-font-family);
}


body {
  background-color: var(--sys-color-roles-1-neutral-roles-neutral-container-color-role, #ebebeb);
  color: var(--sys-color-roles-1-neutral-roles-on-neutral-container-color-role, #1f1f1f);
  font-family: var(--sys-typography-body-body-large-font-family, Inter), Arial, Helvetica, sans-serif;
  font-size: var(--sys-typography-body-body-large-font-size, 16px);
  line-height: var(--sys-typography-body-body-large-line-height, 24px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer base {

:root {
  --sys-font-display-display-large-font-size: 57px;
  --sys-font-display-display-large-text-decoration: none;
  --sys-font-display-display-large-font-family: Inter;
  --sys-font-display-display-large-font-weight: 500;
  --sys-font-display-display-large-font-style: normal;
  --sys-font-display-display-large-font-stretch: normal;
  --sys-font-display-display-large-letter-spacing: -4px;
  --sys-font-display-display-large-line-height: 64px;
  --sys-font-display-display-large-paragraph-indent: 0;
  --sys-font-display-display-large-paragraph-spacing: 0;
  --sys-font-display-display-large-text-case: none;
  --sys-font-display-display-medium-font-size: 48px;
  --sys-font-display-display-medium-text-decoration: none;
  --sys-font-display-display-medium-font-family: Inter;
  --sys-font-display-display-medium-font-weight: 500;
  --sys-font-display-display-medium-font-style: normal;
  --sys-font-display-display-medium-font-stretch: normal;
  --sys-font-display-display-medium-letter-spacing: -4px;
  --sys-font-display-display-medium-line-height: 52px;
  --sys-font-display-display-medium-paragraph-indent: 0;
  --sys-font-display-display-medium-paragraph-spacing: 0;
  --sys-font-display-display-medium-text-case: none;
  --sys-font-display-display-small-font-size: 36px;
  --sys-font-display-display-small-text-decoration: none;
  --sys-font-display-display-small-font-family: Inter;
  --sys-font-display-display-small-font-weight: 500;
  --sys-font-display-display-small-font-style: normal;
  --sys-font-display-display-small-font-stretch: normal;
  --sys-font-display-display-small-letter-spacing: -2px;
  --sys-font-display-display-small-line-height: 44px;
  --sys-font-display-display-small-paragraph-indent: 0;
  --sys-font-display-display-small-paragraph-spacing: 0;
  --sys-font-display-display-small-text-case: none;
  --sys-font-headline-headline-large-font-size: 32px;
  --sys-font-headline-headline-large-text-decoration: none;
  --sys-font-headline-headline-large-font-family: Inter;
  --sys-font-headline-headline-large-font-weight: 600;
  --sys-font-headline-headline-large-font-style: normal;
  --sys-font-headline-headline-large-font-stretch: normal;
  --sys-font-headline-headline-large-letter-spacing: -1.5px;
  --sys-font-headline-headline-large-line-height: 40px;
  --sys-font-headline-headline-large-paragraph-indent: 0;
  --sys-font-headline-headline-large-paragraph-spacing: 0;
  --sys-font-headline-headline-large-text-case: none;
  --sys-font-headline-headline-medium-font-size: 28px;
  --sys-font-headline-headline-medium-text-decoration: none;
  --sys-font-headline-headline-medium-font-family: Inter;
  --sys-font-headline-headline-medium-font-weight: 600;
  --sys-font-headline-headline-medium-font-style: normal;
  --sys-font-headline-headline-medium-font-stretch: normal;
  --sys-font-headline-headline-medium-letter-spacing: -1.2px;
  --sys-font-headline-headline-medium-line-height: 36px;
  --sys-font-headline-headline-medium-paragraph-indent: 0;
  --sys-font-headline-headline-medium-paragraph-spacing: 0;
  --sys-font-headline-headline-medium-text-case: none;
  --sys-font-headline-headline-small-font-size: 24px;
  --sys-font-headline-headline-small-text-decoration: none;
  --sys-font-headline-headline-small-font-family: Inter;
  --sys-font-headline-headline-small-font-weight: 500;
  --sys-font-headline-headline-small-font-style: normal;
  --sys-font-headline-headline-small-font-stretch: normal;
  --sys-font-headline-headline-small-letter-spacing: -1px;
  --sys-font-headline-headline-small-line-height: 32px;
  --sys-font-headline-headline-small-paragraph-indent: 0;
  --sys-font-headline-headline-small-paragraph-spacing: 0;
  --sys-font-headline-headline-small-text-case: none;
  --sys-font-title-title-large-font-size: 22px;
  --sys-font-title-title-large-text-decoration: none;
  --sys-font-title-title-large-font-family: Inter;
  --sys-font-title-title-large-font-weight: 600;
  --sys-font-title-title-large-font-style: normal;
  --sys-font-title-title-large-font-stretch: normal;
  --sys-font-title-title-large-letter-spacing: -1px;
  --sys-font-title-title-large-line-height: 28px;
  --sys-font-title-title-large-paragraph-indent: 0;
  --sys-font-title-title-large-paragraph-spacing: 0;
  --sys-font-title-title-large-text-case: none;
  --sys-font-title-title-medium-font-size: 16px;
  --sys-font-title-title-medium-text-decoration: none;
  --sys-font-title-title-medium-font-family: Inter;
  --sys-font-title-title-medium-font-weight: 600;
  --sys-font-title-title-medium-font-style: normal;
  --sys-font-title-title-medium-font-stretch: normal;
  --sys-font-title-title-medium-letter-spacing: -1px;
  --sys-font-title-title-medium-line-height: 24px;
  --sys-font-title-title-medium-paragraph-indent: 0;
  --sys-font-title-title-medium-paragraph-spacing: 0;
  --sys-font-title-title-medium-text-case: none;
  --sys-font-title-title-small-font-size: 14px;
  --sys-font-title-title-small-text-decoration: none;
  --sys-font-title-title-small-font-family: Inter;
  --sys-font-title-title-small-font-weight: 500;
  --sys-font-title-title-small-font-style: normal;
  --sys-font-title-title-small-font-stretch: normal;
  --sys-font-title-title-small-letter-spacing: -0.85px;
  --sys-font-title-title-small-line-height: 20px;
  --sys-font-title-title-small-paragraph-indent: 0;
  --sys-font-title-title-small-paragraph-spacing: 0;
  --sys-font-title-title-small-text-case: none;
  --sys-font-body-body-large-font-size: 16px;
  --sys-font-body-body-large-text-decoration: none;
  --sys-font-body-body-large-font-family: Inter;
  --sys-font-body-body-large-font-weight: 500;
  --sys-font-body-body-large-font-style: normal;
  --sys-font-body-body-large-font-stretch: normal;
  --sys-font-body-body-large-letter-spacing: -0.95px;
  --sys-font-body-body-large-line-height: 24px;
  --sys-font-body-body-large-paragraph-indent: 0;
  --sys-font-body-body-large-paragraph-spacing: 0;
  --sys-font-body-body-large-text-case: none;
  --sys-font-body-body-medium-font-size: 14px;
  --sys-font-body-body-medium-text-decoration: none;
  --sys-font-body-body-medium-font-family: Inter;
  --sys-font-body-body-medium-font-weight: 500;
  --sys-font-body-body-medium-font-style: normal;
  --sys-font-body-body-medium-font-stretch: normal;
  --sys-font-body-body-medium-letter-spacing: -0.95px;
  --sys-font-body-body-medium-line-height: 20px;
  --sys-font-body-body-medium-paragraph-indent: 0;
  --sys-font-body-body-medium-paragraph-spacing: 0;
  --sys-font-body-body-medium-text-case: none;
  --sys-font-body-body-small-font-size: 12px;
  --sys-font-body-body-small-text-decoration: none;
  --sys-font-body-body-small-font-family: Inter;
  --sys-font-body-body-small-font-weight: 500;
  --sys-font-body-body-small-font-style: normal;
  --sys-font-body-body-small-font-stretch: normal;
  --sys-font-body-body-small-letter-spacing: -0.8px;
  --sys-font-body-body-small-line-height: 16px;
  --sys-font-body-body-small-paragraph-indent: 0;
  --sys-font-body-body-small-paragraph-spacing: 0;
  --sys-font-body-body-small-text-case: none;
  --sys-font-label-label-large-font-size: 14px;
  --sys-font-label-label-large-text-decoration: none;
  --sys-font-label-label-large-font-family: Inter;
  --sys-font-label-label-large-font-weight: 500;
  --sys-font-label-label-large-font-style: normal;
  --sys-font-label-label-large-font-stretch: normal;
  --sys-font-label-label-large-letter-spacing: -0.85px;
  --sys-font-label-label-large-line-height: 20px;
  --sys-font-label-label-large-paragraph-indent: 0;
  --sys-font-label-label-large-paragraph-spacing: 0;
  --sys-font-label-label-large-text-case: none;
  --sys-font-label-label-medium-font-size: 12px;
  --sys-font-label-label-medium-text-decoration: none;
  --sys-font-label-label-medium-font-family: Inter;
  --sys-font-label-label-medium-font-weight: 500;
  --sys-font-label-label-medium-font-style: normal;
  --sys-font-label-label-medium-font-stretch: normal;
  --sys-font-label-label-medium-letter-spacing: -0.5px;
  --sys-font-label-label-medium-line-height: 16px;
  --sys-font-label-label-medium-paragraph-indent: 0;
  --sys-font-label-label-medium-paragraph-spacing: 0;
  --sys-font-label-label-medium-text-case: none;
  --sys-font-label-label-small-font-size: 11px;
  --sys-font-label-label-small-text-decoration: none;
  --sys-font-label-label-small-font-family: Inter;
  --sys-font-label-label-small-font-weight: 500;
  --sys-font-label-label-small-font-style: normal;
  --sys-font-label-label-small-font-stretch: normal;
  --sys-font-label-label-small-letter-spacing: -0.5px;
  --sys-font-label-label-small-line-height: 16px;
  --sys-font-label-label-small-paragraph-indent: 0;
  --sys-font-label-label-small-paragraph-spacing: 0;
  --sys-font-label-label-small-text-case: none;
  --sys-primitive-color-collection-1-key-color-group-primary-key-color: #037ce6ff;
  --sys-primitive-color-collection-1-key-color-group-secondary-key-color: #4c6b9eff;
  --sys-primitive-color-collection-1-key-color-group-tertiary-key-color: #2f3169ff;
  --sys-primitive-color-collection-1-key-color-group-neutral-key-color: #121212ff;
  --sys-primitive-color-collection-1-key-color-group-neutral-variant-key-color: #474747ff;
  --sys-primitive-color-collection-1-key-color-group-accent-key-color: #ff9501ff;
  --sys-primitive-color-collection-1-key-color-group-error-key-color: #ff3d3dff;
  --sys-primitive-color-collection-1-key-color-group-success-key-color: #06e69bff;
  --sys-primitive-color-collection-1-key-color-group-warning-key-color: #ffe70eff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary10: #011b32ff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary20: #013665ff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary30: #025197ff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary40: #036dc9ff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary50: #0388fcff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary60: #36a0fcff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary70: #68b7fdff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary80: #9acffeff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary90: #dceeffff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary95: #e6f3ffff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary98: #f5faffff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary99: #fafdffff;
  --sys-primitive-color-collection-1-color-palettes-primary-primary100: #ffffffff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary10: #192334ff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary20: #212f45ff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary30: #324667ff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary40: #425d8aff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary50: #5375acff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary-60: #839bc3ff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary70: #98accdff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary80: #bac8deff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary-90: #e3e9f2ff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary-95: #eef1f7ff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary-98: #f8f9fcff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary-99: #fcfcfdff;
  --sys-primitive-color-collection-1-color-palettes-secondary-secondary-100: #ffffffff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary10: #161731ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary20: #262755ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary30: #2f3169ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary40: #3f428dff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary50: #4f52b0ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary60: #7275c0ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary70: #9597d0ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary80: #b9badfff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary90: #e3e3f2ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary95: #edeef7ff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary98: #f8f8fcff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary99: #fbfcfdff;
  --sys-primitive-color-collection-1-color-palettes-tertiary-tertiary100: #ffffffff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral10: #1f1f1fff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral20: #333333ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral30: #575757ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral40: #666666ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral50: #808080ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral60: #a3a3a3ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral70: #b3b3b3ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral80: #dbdbdbff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral90: #ebebebff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral95: #f2f2f2ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral98: #fafafaff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral99: #fcfcfcff;
  --sys-primitive-color-collection-1-color-palettes-neutral-neutral100: #ffffffff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant10: #292929ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant20: #3d3d3dff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant30: #4c4c4cff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant40: #707070ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant50: #8a8a8aff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant60: #999999ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant70: #c2c2c2ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant80: #e0e0e0ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant90: #e6e6e6ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant95: #f2f2f2ff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant98: #fafafaff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant99: #fcfcfcff;
  --sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant100: #ffffffff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent10: #331e00ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent20: #663b00ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent30: #995900ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent40: #cc7700ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent50: #ff9501ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent60: #ffaa33ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent70: #ffbf66ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent80: #ffd499ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent90: #ffeaccff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent95: #fff4e5ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent98: #fffbf5ff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent99: #fffdfaff;
  --sys-primitive-color-collection-1-color-palettes-accent-accent100: #ffffffff;
  --sys-primitive-color-collection-1-color-palettes-error-error0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-error-error10: #330000ff;
  --sys-primitive-color-collection-1-color-palettes-error-error20: #660000ff;
  --sys-primitive-color-collection-1-color-palettes-error-error30: #990000ff;
  --sys-primitive-color-collection-1-color-palettes-error-error40: #e50000ff;
  --sys-primitive-color-collection-1-color-palettes-error-error50: #ff0000ff;
  --sys-primitive-color-collection-1-color-palettes-error-error60: #ff3d3dff;
  --sys-primitive-color-collection-1-color-palettes-error-error70: #ff6666ff;
  --sys-primitive-color-collection-1-color-palettes-error-error80: #ff9999ff;
  --sys-primitive-color-collection-1-color-palettes-error-error90: #ffd6d6ff;
  --sys-primitive-color-collection-1-color-palettes-error-error95: #ffe5e5ff;
  --sys-primitive-color-collection-1-color-palettes-error-error98: #fff5f5ff;
  --sys-primitive-color-collection-1-color-palettes-error-error99: #fffafaff;
  --sys-primitive-color-collection-1-color-palettes-error-error100: #ffffffff;
  --sys-primitive-color-collection-1-color-palettes-success-success0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-success-success10: #013221ff;
  --sys-primitive-color-collection-1-color-palettes-success-success20: #036343ff;
  --sys-primitive-color-collection-1-color-palettes-success-success30: #049564ff;
  --sys-primitive-color-collection-1-color-palettes-success-success40: #05c786ff;
  --sys-primitive-color-collection-1-color-palettes-success-success50: #10f9abff;
  --sys-primitive-color-collection-1-color-palettes-success-success60: #42fabcff;
  --sys-primitive-color-collection-1-color-palettes-success-success70: #6afbcaff;
  --sys-primitive-color-collection-1-color-palettes-success-success80: #9cfcdcff;
  --sys-primitive-color-collection-1-color-palettes-success-success90: #cdfeedff;
  --sys-primitive-color-collection-1-color-palettes-success-success95: #e6fef6ff;
  --sys-primitive-color-collection-1-color-palettes-success-success98: #f5fffbff;
  --sys-primitive-color-collection-1-color-palettes-success-success99: #fafffdff;
  --sys-primitive-color-collection-1-color-palettes-success-success100: #ffffffff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning0: #000000ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning10: #332e00ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning20: #665c00ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning30: #998a00ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning40: #e5cf00ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning50: #ffe70aff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning60: #ffeb33ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning70: #fff066ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning80: #fff599ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning90: #fffaccff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning95: #fffce5ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning98: #fffef5ff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning99: #fffefaff;
  --sys-primitive-color-collection-1-color-palettes-warning-warning100: #ffffffff;
  --sys-color-roles-1-primary-roles-primary-color-role: var(--sys-primitive-color-collection-1-key-color-group-primary-key-color);
  --sys-color-roles-1-primary-roles-on-primary-color-role: var(--sys-primitive-color-collection-1-color-palettes-primary-primary100);
  --sys-color-roles-1-primary-roles-primary-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-primary-primary90);
  --sys-color-roles-1-primary-roles-on-primary-conainer-color-role: var(--sys-primitive-color-collection-1-color-palettes-primary-primary30);
  --sys-color-roles-1-secondary-roles-secondary-color-role: var(--sys-primitive-color-collection-1-color-palettes-secondary-secondary40);
  --sys-color-roles-1-secondary-roles-on-secondary-color-role: var(--sys-primitive-color-collection-1-color-palettes-secondary-secondary-100);
  --sys-color-roles-1-secondary-roles-secondary-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-secondary-secondary-90);
  --sys-color-roles-1-secondary-roles-on-secondary-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-secondary-secondary30);
  --sys-color-roles-1-tertiary-roles-tertiary-color-role: var(--sys-primitive-color-collection-1-color-palettes-tertiary-tertiary40);
  --sys-color-roles-1-tertiary-roles-on-tertiary-color-role: var(--sys-primitive-color-collection-1-color-palettes-tertiary-tertiary100);
  --sys-color-roles-1-tertiary-roles-tertiary-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-tertiary-tertiary90);
  --sys-color-roles-1-tertiary-roles-on-tertiary-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-tertiary-tertiary30);
  --sys-color-roles-1-neutral-roles-neutral-color-role: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral40);
  --sys-color-roles-1-neutral-roles-on-neutral-color-role: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral100);
  --sys-color-roles-1-neutral-roles-neutral-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral90);
  --sys-color-roles-1-neutral-roles-on-neutral-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-neutral-neutral30);
  --sys-color-roles-1-neutral-variant-roles-neutral-variant-color-role: var(--sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant40);
  --sys-color-roles-1-neutral-variant-roles-on-neutral-variant-color-role: var(--sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant100);
  --sys-color-roles-1-neutral-variant-roles-neutral-variant-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant90);
  --sys-color-roles-1-neutral-variant-roles-on-neutral-variant-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-neutral-variant-neutral-variant30);
  --sys-color-roles-1-accent-roles-accent-color-role: var(--sys-primitive-color-collection-1-color-palettes-accent-accent40);
  --sys-color-roles-1-accent-roles-on-accent-color-role: var(--sys-primitive-color-collection-1-color-palettes-accent-accent100);
  --sys-color-roles-1-accent-roles-accent-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-accent-accent90);
  --sys-color-roles-1-accent-roles-on-accent-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-accent-accent30);
  --sys-color-roles-1-error-roles-error-color-role: var(--sys-primitive-color-collection-1-color-palettes-error-error40);
  --sys-color-roles-1-error-roles-on-error-color-role: var(--sys-primitive-color-collection-1-color-palettes-error-error100);
  --sys-color-roles-1-error-roles-error-container-color-role-3: var(--sys-primitive-color-collection-1-color-palettes-error-error90);
  --sys-color-roles-1-error-roles-on-error-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-error-error30);
  --sys-color-roles-1-success-roles-success-color-role: var(--sys-primitive-color-collection-1-color-palettes-success-success40);
  --sys-color-roles-1-success-roles-on-success-color-role: var(--sys-primitive-color-collection-1-color-palettes-success-success100);
  --sys-color-roles-1-success-roles-success-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-success-success90);
  --sys-color-roles-1-success-roles-on-success-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-success-success30);
  --sys-color-roles-1-warning-roles-warning-color-role: var(--sys-primitive-color-collection-1-color-palettes-warning-warning40);
  --sys-color-roles-1-warning-roles-on-warning-color-role: var(--sys-primitive-color-collection-1-color-palettes-warning-warning100);
  --sys-color-roles-1-warning-roles-warning-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-warning-warning90);
  --sys-color-roles-1-warning-roles-on-warning-container-color-role: var(--sys-primitive-color-collection-1-color-palettes-warning-warning30);
  --sys-typography-display-display-large-font-size: 57px;
  --sys-typography-display-display-large-text-decoration: none;
  --sys-typography-display-display-large-font-family: Inter;
  --sys-typography-display-display-large-font-weight: 500;
  --sys-typography-display-display-large-font-style: normal;
  --sys-typography-display-display-large-font-stretch: normal;
  --sys-typography-display-display-large-letter-spacing: -4px;
  --sys-typography-display-display-large-line-height: 64px;
  --sys-typography-display-display-large-paragraph-indent: 0;
  --sys-typography-display-display-large-paragraph-spacing: 0;
  --sys-typography-display-display-large-text-case: none;
  --sys-typography-display-display-medium-font-size: 48px;
  --sys-typography-display-display-medium-text-decoration: none;
  --sys-typography-display-display-medium-font-family: Inter;
  --sys-typography-display-display-medium-font-weight: 500;
  --sys-typography-display-display-medium-font-style: normal;
  --sys-typography-display-display-medium-font-stretch: normal;
  --sys-typography-display-display-medium-letter-spacing: -4px;
  --sys-typography-display-display-medium-line-height: 52px;
  --sys-typography-display-display-medium-paragraph-indent: 0;
  --sys-typography-display-display-medium-paragraph-spacing: 0;
  --sys-typography-display-display-medium-text-case: none;
  --sys-typography-display-display-small-font-size: 36px;
  --sys-typography-display-display-small-text-decoration: none;
  --sys-typography-display-display-small-font-family: Inter;
  --sys-typography-display-display-small-font-weight: 500;
  --sys-typography-display-display-small-font-style: normal;
  --sys-typography-display-display-small-font-stretch: normal;
  --sys-typography-display-display-small-letter-spacing: -2px;
  --sys-typography-display-display-small-line-height: 44px;
  --sys-typography-display-display-small-paragraph-indent: 0;
  --sys-typography-display-display-small-paragraph-spacing: 0;
  --sys-typography-display-display-small-text-case: none;
  --sys-typography-headline-headline-large-font-size: 32px;
  --sys-typography-headline-headline-large-text-decoration: none;
  --sys-typography-headline-headline-large-font-family: Inter;
  --sys-typography-headline-headline-large-font-weight: 600;
  --sys-typography-headline-headline-large-font-style: normal;
  --sys-typography-headline-headline-large-font-stretch: normal;
  --sys-typography-headline-headline-large-letter-spacing: -1.5px;
  --sys-typography-headline-headline-large-line-height: 40px;
  --sys-typography-headline-headline-large-paragraph-indent: 0;
  --sys-typography-headline-headline-large-paragraph-spacing: 0;
  --sys-typography-headline-headline-large-text-case: none;
  --sys-typography-headline-headline-medium-font-size: 28px;
  --sys-typography-headline-headline-medium-text-decoration: none;
  --sys-typography-headline-headline-medium-font-family: Inter;
  --sys-typography-headline-headline-medium-font-weight: 600;
  --sys-typography-headline-headline-medium-font-style: normal;
  --sys-typography-headline-headline-medium-font-stretch: normal;
  --sys-typography-headline-headline-medium-letter-spacing: -1.2px;
  --sys-typography-headline-headline-medium-line-height: 36px;
  --sys-typography-headline-headline-medium-paragraph-indent: 0;
  --sys-typography-headline-headline-medium-paragraph-spacing: 0;
  --sys-typography-headline-headline-medium-text-case: none;
  --sys-typography-headline-headline-small-font-size: 24px;
  --sys-typography-headline-headline-small-text-decoration: none;
  --sys-typography-headline-headline-small-font-family: Inter;
  --sys-typography-headline-headline-small-font-weight: 500;
  --sys-typography-headline-headline-small-font-style: normal;
  --sys-typography-headline-headline-small-font-stretch: normal;
  --sys-typography-headline-headline-small-letter-spacing: -1px;
  --sys-typography-headline-headline-small-line-height: 32px;
  --sys-typography-headline-headline-small-paragraph-indent: 0;
  --sys-typography-headline-headline-small-paragraph-spacing: 0;
  --sys-typography-headline-headline-small-text-case: none;
  --sys-typography-title-title-large-font-size: 22px;
  --sys-typography-title-title-large-text-decoration: none;
  --sys-typography-title-title-large-font-family: Inter;
  --sys-typography-title-title-large-font-weight: 600;
  --sys-typography-title-title-large-font-style: normal;
  --sys-typography-title-title-large-font-stretch: normal;
  --sys-typography-title-title-large-letter-spacing: -1px;
  --sys-typography-title-title-large-line-height: 28px;
  --sys-typography-title-title-large-paragraph-indent: 0;
  --sys-typography-title-title-large-paragraph-spacing: 0;
  --sys-typography-title-title-large-text-case: none;
  --sys-typography-title-title-medium-font-size: 16px;
  --sys-typography-title-title-medium-text-decoration: none;
  --sys-typography-title-title-medium-font-family: Inter;
  --sys-typography-title-title-medium-font-weight: 600;
  --sys-typography-title-title-medium-font-style: normal;
  --sys-typography-title-title-medium-font-stretch: normal;
  --sys-typography-title-title-medium-letter-spacing: -1px;
  --sys-typography-title-title-medium-line-height: 24px;
  --sys-typography-title-title-medium-paragraph-indent: 0;
  --sys-typography-title-title-medium-paragraph-spacing: 0;
  --sys-typography-title-title-medium-text-case: none;
  --sys-typography-title-title-small-font-size: 14px;
  --sys-typography-title-title-small-text-decoration: none;
  --sys-typography-title-title-small-font-family: Inter;
  --sys-typography-title-title-small-font-weight: 500;
  --sys-typography-title-title-small-font-style: normal;
  --sys-typography-title-title-small-font-stretch: normal;
  --sys-typography-title-title-small-letter-spacing: -0.85px;
  --sys-typography-title-title-small-line-height: 20px;
  --sys-typography-title-title-small-paragraph-indent: 0;
  --sys-typography-title-title-small-paragraph-spacing: 0;
  --sys-typography-title-title-small-text-case: none;
  --sys-typography-body-body-large-font-size: 16px;
  --sys-typography-body-body-large-text-decoration: none;
  --sys-typography-body-body-large-font-family: Inter;
  --sys-typography-body-body-large-font-weight: 500;
  --sys-typography-body-body-large-font-style: normal;
  --sys-typography-body-body-large-font-stretch: normal;
  --sys-typography-body-body-large-letter-spacing: -0.95px;
  --sys-typography-body-body-large-line-height: 24px;
  --sys-typography-body-body-large-paragraph-indent: 0;
  --sys-typography-body-body-large-paragraph-spacing: 0;
  --sys-typography-body-body-large-text-case: none;
  --sys-typography-body-body-medium-font-size: 14px;
  --sys-typography-body-body-medium-text-decoration: none;
  --sys-typography-body-body-medium-font-family: Inter;
  --sys-typography-body-body-medium-font-weight: 500;
  --sys-typography-body-body-medium-font-style: normal;
  --sys-typography-body-body-medium-font-stretch: normal;
  --sys-typography-body-body-medium-letter-spacing: -0.95px;
  --sys-typography-body-body-medium-line-height: 20px;
  --sys-typography-body-body-medium-paragraph-indent: 0;
  --sys-typography-body-body-medium-paragraph-spacing: 0;
  --sys-typography-body-body-medium-text-case: none;
  --sys-typography-body-body-small-font-size: 12px;
  --sys-typography-body-body-small-text-decoration: none;
  --sys-typography-body-body-small-font-family: Inter;
  --sys-typography-body-body-small-font-weight: 500;
  --sys-typography-body-body-small-font-style: normal;
  --sys-typography-body-body-small-font-stretch: normal;
  --sys-typography-body-body-small-letter-spacing: -0.8px;
  --sys-typography-body-body-small-line-height: 16px;
  --sys-typography-body-body-small-paragraph-indent: 0;
  --sys-typography-body-body-small-paragraph-spacing: 0;
  --sys-typography-body-body-small-text-case: none;
  --sys-typography-label-label-large-font-size: 14px;
  --sys-typography-label-label-large-text-decoration: none;
  --sys-typography-label-label-large-font-family: Inter;
  --sys-typography-label-label-large-font-weight: 500;
  --sys-typography-label-label-large-font-style: normal;
  --sys-typography-label-label-large-font-stretch: normal;
  --sys-typography-label-label-large-letter-spacing: -0.85px;
  --sys-typography-label-label-large-line-height: 20px;
  --sys-typography-label-label-large-paragraph-indent: 0;
  --sys-typography-label-label-large-paragraph-spacing: 0;
  --sys-typography-label-label-large-text-case: none;
  --sys-typography-label-label-medium-font-size: 12px;
  --sys-typography-label-label-medium-text-decoration: none;
  --sys-typography-label-label-medium-font-family: Inter;
  --sys-typography-label-label-medium-font-weight: 500;
  --sys-typography-label-label-medium-font-style: normal;
  --sys-typography-label-label-medium-font-stretch: normal;
  --sys-typography-label-label-medium-letter-spacing: -0.5px;
  --sys-typography-label-label-medium-line-height: 16px;
  --sys-typography-label-label-medium-paragraph-indent: 0;
  --sys-typography-label-label-medium-paragraph-spacing: 0;
  --sys-typography-label-label-medium-text-case: none;
  --sys-typography-label-label-small-font-size: 11px;
  --sys-typography-label-label-small-text-decoration: none;
  --sys-typography-label-label-small-font-family: Inter;
  --sys-typography-label-label-small-font-weight: 500;
  --sys-typography-label-label-small-font-style: normal;
  --sys-typography-label-label-small-font-stretch: normal;
  --sys-typography-label-label-small-letter-spacing: -0.5px;
  --sys-typography-label-label-small-line-height: 16px;
  --sys-typography-label-label-small-paragraph-indent: 0;
  --sys-typography-label-label-small-paragraph-spacing: 0;
  --sys-typography-label-label-small-text-case: none;
}

}

@utility display-large {
  font-family: var(--sys-typography-display-display-large-font-family, Inter), sans-serif;
  font-size: clamp(2.25rem, 5vw + 1rem, 3.5625rem);
  font-weight: var(--sys-typography-display-display-large-font-weight, 500);
  letter-spacing: var(--sys-typography-display-display-large-letter-spacing, -4px);
  line-height: clamp(2.75rem, 5.5vw + 1rem, 4rem);
}

@utility body-large {
  font-family: var(--sys-typography-body-body-large-font-family, Inter), sans-serif;
  font-size: 1rem;
  font-weight: var(--sys-typography-body-body-large-font-weight, 500);
  letter-spacing: var(--sys-typography-body-body-large-letter-spacing, -0.95px);
  line-height: 1.5;
}

@utility title-large {
  font-family: var(--sys-typography-title-title-large-font-family, Inter), sans-serif;
  font-size: 1.375rem;
  font-weight: var(--sys-typography-title-title-large-font-weight, 600);
  letter-spacing: var(--sys-typography-title-title-large-letter-spacing, -1px);
  line-height: 1.75rem;
}

@utility title-medium {
  font-family: var(--sys-typography-title-title-medium-font-family, Inter), sans-serif;
  font-size: 1rem;
  font-weight: var(--sys-typography-title-title-medium-font-weight, 600);
  letter-spacing: var(--sys-typography-title-title-medium-letter-spacing, -1px);
  line-height: 1.5;
}

@utility label-large {
  font-family: var(--sys-typography-label-label-large-font-family, Inter), sans-serif;
  font-size: 0.875rem;
  font-weight: var(--sys-typography-label-label-large-font-weight, 500);
  letter-spacing: var(--sys-typography-label-label-large-letter-spacing, -0.85px);
  line-height: 1.25;
}

@utility label-medium {
  font-family: var(--sys-typography-label-label-medium-font-family, Inter), sans-serif;
  font-size: 0.75rem;
  font-weight: var(--sys-typography-label-label-medium-font-weight, 500);
  letter-spacing: var(--sys-typography-label-label-medium-letter-spacing, -0.5px);
  line-height: 1rem;
}

@utility headline-small {
  font-family: var(--sys-typography-headline-headline-small-font-family, Inter), sans-serif;
  font-size: 1.5rem;
  font-weight: var(--sys-typography-headline-headline-small-font-weight, 500);
  letter-spacing: var(--sys-typography-headline-headline-small-letter-spacing, -1px);
  line-height: 2rem;
}

@utility headline-medium {
  font-family: var(--sys-typography-headline-headline-medium-font-family, Inter), sans-serif;
  font-size: 1.75rem;
  font-weight: var(--sys-typography-headline-headline-medium-font-weight, 600);
  letter-spacing: var(--sys-typography-headline-headline-medium-letter-spacing, -1.2px);
  line-height: 2.25rem;
}

label.font-medium {
  color: #000000 !important;
  font-weight: 500 !important;
}
